<% provide(:title,'About Us') %>
<!DOCTYPE HTML>
<html>
<head>
<title>Sample App Development | <%= yield(:title) %></title>
</head>
<body>
<h1>About Us</h1>
<p>This is the about page for sample app</p>
</body>
</html>
